@{
    // List<Account> cuentitas = ((List<Account>)ViewBag.Accounts); // forma A
    List<Cuenta> cuentitas = ((List<Cuenta>)Model); // forma B
}

<body>
    <header>
        <div class="container">
            <h1 class="h-100 badge badge-dark">Usuario: @User.Claims.FirstOrDefault().Value</h1>
        </div>
    </header>
</body>

<h1>Lista de cuentas</h1>
<h4>Monto: @string.Format("{0:N2}", ViewBag.Total) S./</h4>

<a id="link" href="/crud/registrar">Crear Cuenta</a>
<bir />
<a href="/transferencia/transferir">Transferencia</a>
<bir />
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Tipo</th>
            <th>Nombre</th>
            <th>Divisa</th>
            <th>Saldo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in cuentitas)
        {
            <tr>
                <td>
                    <img src="@item.Image" width="50" alt="Alternate Text" />
                </td>
                <td>@item.Tipo.Name</td>
                <td>@item.Name</td>
                <td>@item.Currency</td>
                <td class="text-right">
                    @if (item.TypeId == 3)
                    {
                        @string.Format("{0:N2}", item.Limite)
                        <br />
                    }
                    @string.Format("{0:N2}", item.Amount) S/.

                </td>
                <td>
                    <a href="/transaccion/index?id=@item.Id">Transaccion</a> |
                    <a href="/crud/editar?id=@item.Id">Editar</a> |
                    <a href="/crud/eliminar?id=@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @*Se puede pasar asi como aca:*@
    <script src="~/js/MiExample.js"></script>
}

@* o se puede pasar asi como aca:
    <script>
        function saludar() {
            return "Hola Mundo"
        }

        console.log(saludar());
        alert("Como estas");
    </script>
*@